div.button-collapse button {
  margin: 0.3rem;
}

div.box {
  margin-bottom: 10px;
}

.btn {
  color: #fff;
  background-color: #ff83ee;
  border-color: white;
}

.btn[aria-expanded="true"] {
  color: #000000;
  background-color: #f765a9;
}

.btn:focus{
  background-color: #f85de3;
  outline:0;
  color:black;
}

.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #e633ce;
  color:black;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.box a {
    display:inline;
}

.spinner{
  margin-top: 3em;
  width:100%;
  place-items: center;
}

.box p {
  margin-bottom: 0;
}